.fromControl {
  margin-top: 20px;
}
.fromControl {
  display: flex;
  flex-direction: column;
}
.fromControl label {
  margin-bottom: 10px;
}
.fromControl input {
  height: 45px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: 1px solid var(--colorBlack);
  border-radius: 5px;
}
.required {
  color: red;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 7px;
}
.inputs {
  position: relative;
}
.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.icon svg {
  font-size: 18px;
  color: var(--colorRrey);
}
.inputs input[type='password'] {
  padding-right: 40px;
}
