.postForm {
  width: 100%;
  background-color: #e6efe8;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 20px 25px 25px 25px;
}

.titleDetails h2 {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
}

.titleDetails h2::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  left: 0px;
  bottom: -5px;
  background: #0b6623;
}

.richEditor {
  width: 100%;
}

.btnGroup {
  text-align: right;
  margin-left: auto;
}

.btn {
  font-size: 17px;
  border-radius: 8px;
  width: 86px;
  height: 37px;
  margin-top: 16px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.btn:hover {
  opacity: 0.75;
}

.btnPost {
  color: #fff;
  background-color: #389738;
}

.btnCancel {
  color: #333;
  background-color: #ccc;
  margin-left: 8px;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formItem {
  margin-top: 8px !important;
  width: calc(50% - 16px);
}

.formItem.full {
  width: 100%;
}

.formRemarks label,
.formItem label {
  font-size: 16px;
  color: #000;
}

.formRemarks {
  width: calc(100%);
}

.formRemarks label span,
.formItem label span,
.formItem p {
  color: red;
}

.formRemarks > div > div,
.formSelect > div > div,
.formItem input {
  background-color: #fff;
  border-radius: 15px;
}

.formSelect > div > div,
.formInput input {
  height: 46px;
  line-height: 46px;
  padding: 0 14px;
}

.multiSelect {
  margin-top: 8px;
  z-index: 10;
  min-height: 48px;
}

.multiSelect > div {
  border-radius: 12px;
  background-color: #fff;
  min-height: 48px;
}

.multiSelect input {
  border-radius: 12px;
  padding-left: 4px;
  font-size: 16px;
  line-height: 26px;
}

.multiSelect li {
  display: flex;
  align-items: center;
}

.error {
  font-size: 12px;
  margin-top: 4px;
  margin-left: 14px;
}
