/* Profile */
.profile {
  width: 100%;
  background: #fff;
  border-radius: 20px;
  padding: 20px 25px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.titleLogin {
  font-size: 28px !important;
  line-height: 32px !important;
  font-weight: bold !important;
}

.camera {
  position: absolute;
  bottom: 0;
  right: 50px;
  background: #fff;
  border: 1px solid #eee;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avata span {
  font-size: 30px !important;
  line-height: 36px !important;
  text-transform: capitalize;
}
.profileForm input {
  border-bottom: 1px solid var(--colorBlack) !important;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 0 !important;
}
.profileForm label {
  margin-bottom: 0 !important;
}
.btnProfile {
  margin-top: 30px;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.image input {
  display: none;
}
.image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.image {
  position: relative;
}
.camera {
  right: 30px;
  bottom: 0;
  position: absolute;
  font-size: 23px;
  padding: 3px;
  border: 1px solid #eee;
}
.infomation {
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-bottom: 15px;
}

.infomation div {
  display: flex;
  gap: 7px;
}

.infomation svg {
  font-size: 18px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
}

.profileEmail {
  color: var(--colorBlue1);
  text-decoration: underline;
}
.profileEmailIcon {
  color: black;
}

.contact li {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 8px 0;
}

.contact li input {
  min-width: 200px;
}
.contact li a {
  display: flex;
  align-items: center;
}
.contact li svg {
  font-size: 18px;
  margin-right: 7px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e6efe8;
  color: #333;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Session */
.bookRequestItem,
.contentProject {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contentLink {
  display: flex;
  align-items: center;
  flex: 20;
  gap: 15px;
}

.contentProject img {
  flex: 1;
  width: 70px;
  height: 70px !important;
  height: auto;
  object-fit: cover;
  border-radius: 10%;
}

.bookRequestItem img {
  flex-basis: 80px;
  height: 60px !important;
  object-fit: cover;
  border-radius: 10%;
}

.bookRequestItem .content,
.contentProject .content {
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
}

.bookRequestItem .content {
  height: 50px;
}

.bookRequestItem .contentCenter,
.bookRequestItem .contentRight {
  flex: 10;
  height: 50px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: space-around;
  align-items: start;
}

.bookRequestItem .contentRight {
  flex: unset;
  align-items: end;
}

.bookRequestItem .content span,
.contentProject .content span {
  font-size: 14px;
  max-height: 36px;
  line-height: 18px;
  text-align: justify;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.content img {
  display: none;
}

.bookRequestItem .content span {
  -webkit-line-clamp: 1;
}

.bookRequestItem .content p {
  font-size: 12px;
  margin-top: 10px;
}

.contentProject .icon {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 12px;
}
.contentProject .icon button svg {
  font-size: 21px;
  color: var(--colorRrey);
}

.profileTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px !important;
}

.profileTitle h4 {
  width: 33.3333%;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.butonUpload {
  color: var(--colorBlue1);
}
.butonUpload:hover {
  text-decoration: underline;
}

.inputUpload {
  visibility: hidden;
}

.inputUpload::-webkit-file-upload-button {
  background-color: transparent;
  color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.items {
  padding: 4px 7px;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #ccc;
}

.items span {
  margin-bottom: 0 !important;
}
.contentSkills {
  gap: 10px;
  row-gap: 7px;
  display: flex;
  flex-wrap: wrap;
}

.article {
  border: 1px solid #fff;
  border-radius: 8px;
  margin-bottom: 20px !important;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.noProject {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.articleContent {
  min-height: 100px;
  max-height: 200px;
  overflow-y: auto;
  position: relative;
}

.inforForm a,
.inforForm span {
  display: flex;
  align-items: center;
}

.inputs {
  height: 35px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000;
}
.f_name {
  font-size: 30px;
}

.f_name input {
  font-size: 30px !important;
}

.designation {
  font-size: 16px;
}

.saveBtn {
  margin-top: 20px;
}

.contentProject .content * {
  font-size: 14px !important;
  font-family: 'Inter', sans-serif !important;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

.contentProject .content > p {
  display: flex;
  align-items: center;
  font-size: 14px !important;
  line-height: 23px !important;
  color: var(--colorRrey);
  width: 100%;
  max-height: 2.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.contentProject .content img {
  display: none;
}

.contentProject .content h6 {
  font-size: 16px !important;
  font-weight: 600 !important;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  height: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
  .container {
    margin-top: 80px;
  }
  .profile {
    padding: 10px;
  }
  .profileBootom,
  .profileTop {
    display: flex !important;
    flex-direction: column !important;
  }
  .profileTop div {
    max-width: 100% !important;
  }
  .profileBootom div {
    max-width: 100% !important;
  }
  .profileTitle h4 {
    width: 80%;
    text-align: left;
  }

  .f_name {
    font-size: 24px;
  }

  .f_name input {
    font-size: 24px !important;
  }

  .contact li {
    width: 100%;
  }
}
