.chatBot {
  position: fixed;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
  z-index: 99;
  background-color: transparent;
}


.chatBotIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:#53a553;
  display: flex;
  align-items: center;
  justify-items: center;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: transform 0.9s ease-in-out;
}

.chatBotIcon.icon {
  width: 40px;
  height: 40px;
  background-color: transparent;
  box-shadow: none;
}

.chatbotImg {
  width: 80%;
  margin: auto;
  border-radius: 50%;
  object-fit: contain;
}

.modalChatBot {
  background-color: #fff;
  border-radius: 16px;
  width: 380px;
  height: 420px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: transform 0.9s ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  position: relative;
}

.chatTitle {
  background: #389738;
  height: 51px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.chatTitle h2 {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.chatSession {
  height: 100%;
  min-height: 260px;
  overflow: auto;
  padding: 5px 15px 0 15px;
  transition: 0.5s ease;
}

.chatSession ul {
  padding: 0;
  margin-bottom: 10px;
}

.clientChat p {
  width: 60%;
  background: #abc32f;
  word-wrap: break-word;
  padding: 7px 10px;
  border-radius: 10px 10px 0 10px;
  color: #fff;
  margin: 5px 0 5px auto;
  font-size: 12px;
  line-height: 18px;
}

.myChat {
  gap: 5px;
  display: flex;
}

.myChat p {
  width: 60%;
  background: #ebe3d5;
  word-wrap: break-word;
  padding: 7px 10px;
  border-radius: 10px 10px 10px 0;
  margin: 10px 0;
  color: #776b5d;
  font-size: 12px;
  line-height: 18px;
}

.myChat span {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 10px 0;
}

.scrollBottomBox {
  position: absolute;
  bottom: 60px;
  right: 20px;
}

.scrollBottomBtn {
  background: #389738;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  outline: none;
}


.scrollBottomBtn svg {
  color: #fff
}

.loadingWave {
  position: absolute;
  bottom: 40px;
  left: 10px;
  width: 40px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loadingBar {
    width: 4px;
    height: 3px;
    margin: 0 2px;
    background-color: #abc32f;
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
}

.loadingBar:nth-child(2) {
    animation-delay: 0.1s;
  }
.loadingBar:nth-child(3) {
  animation-delay: 0.2s;
}
.loadingBar:nth-child(4) {
  animation-delay: 0.3s;
}

.newchat {
  position: relative;
  display: grid;
  grid-template-columns: 85% auto;
  border-top: 1px solid #dddcdc;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.newchat input {
  width: 100%;
  height: 36px;
  border: 2px solid #eee;
  padding: 7px 10px;
  outline: none;
  border: none;
  background-color: #fff;
}

.newchat button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  outline: none;
  background: transparent;
  border: 2px solid #eee;
  border: none;
  width: 50px;
  border: none;
  outline: none;
}

.newchat button svg {
  color: #389738;
}

.closeChat {
    position: absolute;
    top: -32px;
    right: 0;
    height: 30px;
    width: 30px;
    border: 1px solid #eee;
    background: #bddcbd;
    outline: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeChat svg {
  width: 22px;
  height: 22px;
  color: #333;
}

@media (max-width: 768px) {
  .chatBot {
    right: 10px;
  }
  .modalChatBot {
    width: 300px;
  }

  .chatBot h2 {
    font-size: 14px;
  }
}

@keyframes loading-wave-animation {
  0% {
    height: 2px;
  }

  50% {
    height: 10px;
  }

  100% {
    height: 2px;
  }
}