.contents {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
}

.contents:last-child {
  margin-bottom: 0px;
}

.rowsTitle {
  background: #389738;
  padding: 10px;
  display: flex;
}

.rowsTitle h4 {
  font-size: 22px !important;
  line-height: 28px !important;
  color: #fff;
}

.content2 {
  max-height: 450px;
  overflow-y: auto;
}

.contents ul {
  background: #ececec;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.contents ul a {
  height: 100%;
  flex: 1;
}

.viewmore a:hover {
  text-decoration: underline;
}
.viewmore {
  text-align: right;
  padding: 10px !important;
}
.viewmore a {
  color: var(--colorBlue1);
  font-size: 14px;
}

.content {
  flex: 1;
}

.content > h2 {
  color: var(--colorBlue1);
  font-weight: 500;
  font-size: 16px !important;
  line-height: 22px;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.content p {
  font-weight: 500;
  font-size: 14px;
}

.content > p {
  width: calc(100% - 80px);
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  position: relative;
}

.contents ul {
  background: #ececec;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.content * {
  font-size: 14px !important;
  font-family: 'Inter', sans-serif !important;
  font-weight: 500;
  line-height: 18px;
  font-style: normal;
  text-decoration: none;
  word-wrap: break-word;
}

.listItems a,
.listItems span {
  display: flex;
  gap: 15px;
  align-items: center;
  flex: 1;
}

.imageItems img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.createBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}

.createBtn svg {
  width: 30px;
  height: 30px;
}

.createBtn:hover {
  color: #ddd;
}

.listPostItems .content {
  flex: 1;
  justify-content: space-between;
  max-width: calc(100% - 120px) !important;
}

.listPostItems .content > p {
  height: 36px;
}

.listPostItems .content > p * {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: start;
}

.listPostItems .content img {
  display: none !important;
}
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
  height: 60px;
  width: 46px;
}
.social span {
  flex: 0;
  gap: 4px;
  line-height: 18px;
}

.social svg {
  width: 16px;
  height: 16px;
}

@media (max-width: 767px) {
  .rowsTitle h4 {
    padding: 10px;
  }
  .contents {
    margin-bottom: 20px !important;
  }
  .contents:last-child {
    margin-bottom: 0px;
  }
  .content2 {
    height: 350px;
    overflow-y: auto;
  }
}
